
.input-place{
    width:fit-content;

    display: flex;
    flex-direction: column;
    align-items: end;
}


.input-place >*{
    margin-top: 10px;
}

p span {
    padding-left: 30px;
}